[submodule "Integrated-Path/bi_website_cash_on_delivery"]
	path = Integrated-Path/bi_website_cash_on_delivery
	url = git@github.com:Integrated-Path/bi_website_cash_on_delivery.git
	branch = master

[submodule "Integrated-Path/green_tech_custom"]
	path = Integrated-Path/green_tech_custom
	url = git@github.com:Integrated-Path/green_tech_custom.git
	branch = master

[submodule "Integrated-Path/deltatech_watermark"]
	path = Integrated-Path/deltatech_watermark
	url = git@github.com:Integrated-Path/deltatech_watermark.git
	branch = master
