[submodule "Integrated-Path/bi_website_cash_on_delivery"]
	path = Integrated-Path/bi_website_cash_on_delivery
	url = git@github.com:Integrated-Path/bi_website_cash_on_delivery.git
	branch = master

[submodule "Integrated-Path/green_tech_custom"]
	path = Integrated-Path/green_tech_custom
	url = git@github.com:Integrated-Path/green_tech_custom.git
	branch = master

[submodule "Integrated-Path/deltatech_watermark"]
	path = Integrated-Path/deltatech_watermark
	url = git@github.com:Integrated-Path/deltatech_watermark.git
	branch = master

[submodule "Integrated-Path/deltatech_watermark_report"]
	path = Integrated-Path/deltatech_watermark_report
	url = git@github.com:Integrated-Path/deltatech_watermark_report.git
	branch = master

[submodule "Integrated-Path/garazd_product_label"]
	path = Integrated-Path/garazd_product_label
	url = git@github.com:Integrated-Path/garazd_product_label.git
	branch = master

[submodule "Integrated-Path/prt_report_attachment_preview"]
	path = Integrated-Path/prt_report_attachment_preview
	url = git@github.com:Integrated-Path/prt_report_attachment_preview.git
	branch = master

[submodule "Integrated-Path/different_currency_invoice"]
	path = Integrated-Path/different_currency_invoice
	url = git@github.com:Integrated-Path/different_currency_invoice.git
	branch = intpath

[submodule "Integrated-Path/invoice_by_journal_users"]
	path = Integrated-Path/invoice_by_journal_users
	url = git@github.com:Integrated-Path/invoice_by_journal_users.git
	branch = 16

[submodule "Integrated-Path/dev_advance_search_partner"]
	path = Integrated-Path/dev_advance_search_partner
	url = git@github.com:Integrated-Path/dev_advance_search_partner.git
	branch = master
